# Eclipse stuff
/.classpath
/.project
/.settings

# netbeans
/nbproject

# Ant
/build.properties
/build
/lib
/maven

# vim
.*.sw[a-p]

# various other potential build files
/bin
/dist
/manifest.mf

# Mac filesystem dust
/.DS_Store

# ignore thumbnails created by Windows
Thumbs.db

# intellij
*.iml
*.ipr
*.iws
.idea/
